<div class="element-item card border-light">
    <a href="{{ .RelPermalink }}">
        <div class="row">
            <div class="col-sm">
                {{ partial "banner.html" . }}
            </div>
            <div class="col-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title | markdownify }}</h5>
                    <h6 class="card-subtitle">{{ .Description | markdownify }}</h6>
                    {{ partial "date.html" . }}
                </div>
            </div>
        </div>
    </a>
</div>