{{ define "main" }} 
        
<article>
    <header>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                {{ with .Params.ASIN }}
                <div class="text-center">
                    <p>&nbsp;</p>
                    <img class="img-fluid text-center" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=
                    {{ . }}
                    &Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1">
                    <p>&nbsp;</p>
                </div>
                {{ end }}
            </div>
            <div class="col-md-8 col-sm-12">
                <h1 class="display-4">{{ .Title }}</h1>
                
                <ul class="list-unstyled">

                {{ with .Params.devices }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "type" }}: 
                    {{ range . }}
                        <a class="badge badge-primary" href="/devices/{{ . | urlize }}">
                            {{ lower (i18n .) }}</a>
                    {{ end }}
                    </li>
                {{ end }}
                {{ end }}
    
                {{ with .Params.brands }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "brand" }}:
                    {{ range . }}
                    <a class="badge badge-primary" href="/brands/{{ . | urlize }}">
                        {{ . }}
                    </a>
                    {{ end }}
                    </li>
                {{ end }}
                {{ end }} 

                <p></p>

                {{ with .Params.keyswitches_brands }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "key switches brand" }}: 
                    {{ range . }}<a class="badge badge-primary" href="/devices/keyboard/#f=.{{ . | urlize }}">
                        {{ . }}</a>{{ end }}
                    </li>
                {{ end }}
                {{ end }}

                {{ with .Params.headset_acoustics }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "headset acoustics" }}: 
                    {{ range . }}<a class="badge badge-primary" href="/devices/headset/#f=.{{ . | urlize }}">
                        {{ lower (i18n .) }}</a>{{ end }}
                    </li>
                {{ end }}
                {{ end }}

                {{ with .Params.mouse_sensor }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "mouse sensor type" }}: 
                    {{ range . }}<a class="badge badge-primary" href="/devices/mouse/#f=.{{ . | urlize }}">
                        {{ lower (i18n .) }}</a>{{ end }}
                    </li>
                {{ end }}
                {{ end }}

                {{ with .Params.mouse_form }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "mouse form" }}: 
                    {{ range . }}<a class="badge badge-primary" href="/devices/mouse/#f=.{{ . | urlize }}">
                        {{ lower (i18n .) }}</a>{{ end }}
                    </li>
                {{ end }}
                {{ end }}

                {{ with .Params.mouse_wire }}
                {{ if ge (len .) 1 }}
                    <li>{{ i18n "mouse wire" }}: 
                    {{ range . }}
                    <a class="badge badge-primary" href="/devices/mouse/#f=.{{ . | urlize }}">
                        {{ lower (i18n .) }}</a>{{ end }}
                    </li>
                {{ end }}
                {{ end }}

                <p>&nbsp;</p>

                </ul>

                {{ if .Site.Params.amazon_id }}
                {{ if .Site.Params.amazon_buttons }}
                {{ if .Params.ASIN }}
                <a target="_blank" class="btn btn-warning btn-lg" href="https://www.amazon.com/gp/product/{{ .Params.ASIN }}/?tag=esportrat-20" role="button">
                {{ .Title }}
                &nbsp;on&nbsp;Amazon
                </a>
                {{ end }}
                {{ end }}
                {{ end }}


                {{ $section := .Section }}
                {{ $devais := .Params.type_devices }}
                {{ $url := .Site.BaseURL }}
                {{ if .Params.series }}
                <section>
                <p>&nbsp;</p>
                <p>{{ i18n "variants" }}:<br>
                {{ with .Params.series }}
                {{ if ge (len .) 1 }}
                    {{ range . }}
                    <a class="btn btn-outline-primary" 
                    href="{{ $url }}/{{ $section }}/{{ $devais }}/{{ . | urlize }}">{{ . }} </a>
                    {{ end }}
                {{ end }}
                {{ end }}
                </p>
                <p>&nbsp;</p>
                </section>
                {{ end }}

            </div>
        </div>
    </header>

    <section id="post-body">
        {{ .Content }}
    </section>
    
    {{ if .Site.Params.amazon_id }}
    {{ if .Site.Params.amazon_adve }}
    {{ if .Params.ASIN }}
    <script type="text/javascript">
        amzn_assoc_tracking_id = "{{ .Site.Params.amazon_id }}";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "{{ .Params.ASIN }}";
        amzn_assoc_placement = "adunit";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if .Site.Params.socialmart }}
    {{ if .Params.ya_market_number }}
    {{ with .Params.ya_market_number }}
    <div class="card">
        <div class="card-body">
            <div data-widget-id="7wvAO5Ly" class="smw3" data-model-id="{{ . }}"></div>
            <noscript><a href="//socialmart.ru" title="SocialMart" target="_blank">Виджет от SocialMart</a></noscript>
            <script async type="text/javascript" charset="UTF-8" src="//widget.socialmart.ru/init.php?render=js&wid=7wvAO5Ly"></script>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}

</article>
<p>&nbsp;</p>
<hr>

{{ template "_internal/disqus.html" . }}

{{ partial "blocks/top-devices.html" . }}

{{ end }}