<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
	<head>
    {{ partial "head.html" . }}
    </head>
<body>

    <div class="container">
        
        <p></p>
        {{ partial "nav.html" . }}
        <p></p>

        {{ if .Site.Params.adsense_banner_after_nav }}
        <p></p>
        <div class="text-center" style="max-height: 120px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- CyberSet.org -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="{{ .Site.Params.adsense_id }}"
                data-ad-slot="{{ .Site.Params.adsense_banner_after_nav }}"
                data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p></p>
        {{ end }}

        <div class="row">
            
            <div class="col-12 col-xl-9">
            {{ block "main" . }}{{ end }}
            <p></p>
            <p></p>
            </div>
            
            <div class="col-xl-3 d-none d-xl-block">
            {{ partial "sidebar.html" . }}
            </div>

        </div>

        {{ if .Site.Params.adsense_banner_before_footer }}
        <p>&nbsp;</p>
        <div class="text-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- CyberSet.org -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="{{ .Site.Params.adsense_id }}"
                data-ad-slot="{{ .Site.Params.adsense_banner_before_footer }}"
                data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p>&nbsp;</p>
        {{ end }}

    </div>

    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}

</body>
</html>
