<footer id="footer">
    <div class="container">
        <hr> 
        <p>&nbsp;</p>
        <div id="social">
        <ul class="list-unstyled">

        {{ if .Site.Params.vk }}
        <li class="h3"><i class="fab fa-vk"></i>&nbsp;
            {{ .Site.Params.vk_description }}: 
        <a target="_blank" href="https://vk.com/{{ .Site.Params.vk }}">@{{ .Site.Params.vk }}</a></li>
        {{ end }}
        
        {{ if .Site.Params.twitter }}
        <li class="h3"><i class="fab fa-twitter-square"></i>&nbsp;
            {{ .Site.Params.twitter_description }}: 
        <a target="_blank" href="https://twitter.com/intent/follow?screen_name={{ .Site.Params.twitter }}">@{{ .Site.Params.twitter }}</a></li>
        {{ end }}
        
        {{ if .Site.Params.mail }}
        <li><i class="fas fa-envelope"></i>&nbsp;
            {{ .Site.Params.mail_description }}: <strong>{{ .Site.Params.mail }}</strong></li>
        {{ end }}

        </ul>
        </div>
        <p>&nbsp;</p>

        <ul class="list-unstyled">
        <li>{{ i18n "contacts of the owner" }}:</li>
        {{ if .Site.Params.admin_twitter }}
        <li><a target="_blank" href="https://twitter.com/{{ .Site.Params.admin_twitter }}">@{{ .Site.Params.admin_twitter }}</a> - {{ .Site.Params.admin_twitter_description }}</li>
        {{ end }}
        {{ if .Site.Params.admin_mail }}
        <li><strong>{{ .Site.Params.admin_mail }}</strong> - {{ .Site.Params.admin_mail_description }}</li>
        {{ end }}
        </ul>

        {{ if .Site.Params.amazon_id }}
        <p>&nbsp;</p>
        <p>{{ .Site.Title }} is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com, Amazon.co.uk, Amazon.de, Amazon.fr, Amazon.it, Amazon.in, Amazon.es and other Amazon stores worldwide.</p>
        <p>Amazon and the Amazon logo are trademarks of Amazon.com, Inc. or its affiliates.</p>
        {{ end }}

        <p><a href="{{ .Site.BaseURL | relLangURL }}{{ .Site.Params.Privacy_Policy }}">
        {{ .Site.Params.Privacy_Policy_description }}</a></p>
   

        <p class="small">
        {{ with .Site.Params.copyright }}
            {{ . | markdownify }}
        {{ else }}
            © Copyright {{ now.Format "2006" }} {{ .Site.Params.name }}
        {{ end }}
        </p>
        <p>&nbsp;</p>
    </div>
</footer>   