{{ $device := .Get 0 }}
{{ $percent := .Get 1 }}

<div class="mx-auto" style="max-width: 720px;">

{{ $GetPage := .Site.GetPage "page" ($device) }}

<p>&nbsp;</p>
{{ with $GetPage }}
{{ partial "teasers/device_card.html" . }}
{{ else }}
<div class="card">
<div class="card-body">
    <h4 class="text-center">{{ $device }}</h4>
</div>
</div>
{{ end }}

{{ if $percent }}
<p></p>
<div class="progress" style="height: 32px; font-size: 1rem;">
    <div class="progress-bar" style="width: {{ $percent | safeHTMLAttr }}%;" role="progressbar" aria-valuenow="{{ $percent | safeHTMLAttr }}" aria-valuemin="0" aria-valuemax="100">{{ $percent | safeHTML }} %</div>
</div>
<p></p>
{{ end }}

{{ if .Inner }}
{{ .Inner }}
<p>&nbsp;</p>
{{ end }}

</div>

